Homestead.yaml
Homestead.json
.history
# Ignoring the compiled and cache files
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*